{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    {% block link %}
    {% endblock link%}
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>Travellers</title>
    {% endif %}
</head>
<body>
    {% if request.user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Travellers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto nav-list">
                <li class="nav-item mr-4">
                    <a class="nav-link" href="{% url 'blog' %}"><i class="fas fa-suitcase-rolling"></i>Travellers</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#"><i class="fas fa-utensils"></i> Restaurants</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#"><i class="fas fa-hotel"></i> Hotels</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#"><i class="fas fa-comment"></i> Message</a>
                </li>
            </ul>
            <span class="navbar-text"> 
                <form action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <button class="logout-button" type="submit">Logout</button>
                  <a href="{% url 'profile' request.user.username %}"><i class="fas fa-user nav-user-icon"></i></a>
                </form>
                
                
            </span>


        </div>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}
    <script src="{% static '/bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/bootstrap-4.5.0-dist/js/popper.min.js' %}"></script>
    <script src="{% static '/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/all.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% block extrascript %}

    {% endblock %}
</body>

</html>